
.venv
cdk.out/
*.pyc
**/node_modules/**
.DS_Store
.vscode/**
**/logs/**
generated**
**/generated**/**
*.log
__pycache__
data_discovery_agent/frontend/build/**
data_discovery_agent/frontend/build/assets
